body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    height: 100vh;
    margin: auto;
    box-sizing: border-box;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: rgba(61, 60, 54, 0.973);
}
.first-row{
    display: flex;
    flex-direction: row;
}

.output{
    width: 200px;
    height: 60px;
    padding: 2px;
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    border: 1px solid black;
    color: white;
}

.btn{
    width: 40px;
    height: 40px;
    margin: 10px;
}

.number, .operator, .decimal, .equals, .clear{
    border-radius: 20px;
}
.previous-value{
    font-size: 15px;
}
.current-value{
    font-size: 20px;
}